.cardContainer{
    width: 100vw;
    display: flex;
    /* flex-grow: 1, flex-shrink: 1, flex-basis: 0*/
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
.card { 
    /* gives each component inside the container equal space*/
    flex: 1;
    margin-right: 10px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); */
.userPrompt{
  color: rgb(13, 100, 154);
  font-size: large;
  text-align: center;
  font-family: 'Lato', sans-serif;
};

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
}

.column{
  margin-top: 8px;
  vertical-align: middle;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(5, 245px);
  /* grid-template-rows : repeat(2, 100px); */
  grid-gap: 5px;
}

.gallery_image{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
